<div class="content">
  {% if assets.size > 0 and type == 'post' %}
    <div class="feat-image-wrap">
      <img src="{{ assets.first.url }}" alt="{{ title }}" class="feat-image" />
    </div>
  {% endif %}

  <h1 class="title padded">{{ title }} <span class="by">by <a href="{{taxonomy.by.first.url}}">{{taxonomy.by.first.value}}</a></span></h1>

  {% if pages.size > 0 %}
    <div class="subpages padded">
      {% for page in pages %}
        <a href="{{page.url}}">{{page.title}}</a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="body padded">
    {{ body }}

    <div class="tagset">
      <strong>Category:</strong>
      {% for tag in taxonomy.category.tags %}
        <a href="{{tag.url}}" class="tag">{{tag.value | replace:' - ',', '}}</a>
      {% endfor %}
    </div>
    {% for tagset in taxonomy %}
    {% unless tagset.key == 'Category' %}
    <div class="tagset">
      <strong>{{tagset.key | replace:'by','Made by' | replace:'in','Location' | replace:'with','Materials' | capitalize}}:</strong>
      {% for tag in tagset %}
        <a href="{{tag.url}}" class="tag">{{tag.value | replace:' - ',', '}}</a>
      {% endfor %}
      {% if tagset.key == 'by' %}<span>(<a href="{{meta.company_link}}" class="tag" target="_blank">{{meta.company_link | remove_first:'http://' | remove_first:'htts://' | remove_first:'www.' | split:'/' | first}}</a>)</span>{% endif %}
    </div>
    {% endunless %}
    {% endfor %}
    
    <p class="actions"><a href="{{meta.store_link}}{% if meta.store_link contains 'amazon.com' %}?tag=woodshopusa-20{% endif %}" class="button" target="_blank">Buy at {{meta.store_link | remove_first:'http://' | remove_first:'htts://' | remove_first:'www.' | split:'/' | first}} - ${{meta.price}}</a></p>
    
  </div>

  {% if type == 'post' and (next or previous) %}
    <div class="post-nav">
      {% if previous %}
        <a href="{{ previous.url }}" class="post-nav-link previous">&larr; {{ previous.title }}</a>
      {% endif %}

      {% if next %}
        <a href="{{ next.url }}" class="post-nav-link next">{{ next.title }} &rarr;</a>
      {% endif %}
    </div>
  {% endif %}
</div>