<div class="content">
  {% if assets.size > 0 and type == 'post' %}
    <div class="feat-image-wrap">
      <img src="{{ assets.first.url }}" alt="{{ title }}" class="feat-image" />
    </div>
  {% endif %}

  <h1 class="title padded">{{ title }} <span class="by">by <a href="{{taxonomy.by.first.url}}">{{taxonomy.by.first.value}}</a></span></h1>

  {% if pages.size > 0 %}
    <div class="subpages padded">
      {% for page in pages %}
        <a href="{{page.url}}">{{page.title}}</a>
      {% endfor %}
    </div>
  {% endif %}

  <div class="body padded">
    {{ body }}

    {% for tagset in taxonomy %}
      <div class="tagset">
        <strong>{{tagset.key | capitalize}}:</strong>
        {% for tag in tagset %}
          <a href="{{tag.url}}" class="tag">{{tag.value | replace:' - ',', '}}</a>
        {% endfor %}
      </div>
    {% endfor %}
    
    <a href="{{meta.store_link}}" class="view-all-button button ss-cart" target="_blank">Buy at {{meta.store_link | remove_first:'http://' | remove_first:'htts://' | remove_first:'www.' | split:'/' | first}} - ${{meta.price}}</a>
  </div>

  {% if type == 'post' and (next or previous) %}
    <div class="post-nav">
      {% if previous %}
        <a href="{{ previous.url }}" class="post-nav-link previous">&larr; {{ previous.title }}</a>
      {% endif %}

      {% if next %}
        <a href="{{ next.url }}" class="post-nav-link next">{{ next.title }} &rarr;</a>
      {% endif %}
    </div>
  {% endif %}
</div>